.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputAddress {
  display: flex;
  align-items: center;
  gap: 10px; /* Optional: Adds space between the elements */
}

button {
  border-radius: 8px; /* Rounded edges */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove default border */
  background-color: #007bff; /* Background color */
  color: white; /* Text color */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
}

button:hover {
  background-color: #0056b3; /* Darker background on hover */
}
